* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, serif;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, serif;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {}

nav ul li a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li {}

main {
    display: flex;
    max-width: 100%;
    text-align: center;
}

section img {
    width: 100%;
}

section {
    width: 100%;
    padding: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #222233;
    padding: 20px;
    color: #eeeeee;
}

header a {
    color: #eeeeee;
}

header i {
    font-size: 50px;
}

.menu li {
    display: inline;
}

.fas.fa-bars {
    display: none;
}


/* FOOTER */

footer {
    display: flex;
    justify-content: space-between;
    background-color: #222233;
    padding: 20px;
}

footer ul li {
    list-style-type: none;
}

footer a {
    color: #eeeeee;
}


/* MEDIA */

@media (max-width: 800px) {
    nav ul {
        display: none;
    }
    section {
        width: 50%;
    }
    main {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .fas.fa-bars {
        display: contents;
    }
}

@media (max-width: 600px) {
    nav ul {
        display: none;
    }
    section {
        width: 100%;
    }
    main {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .fas.fa-bars {
        display: contents;
    }
}