//Color primario y secundario
$primary-color: #222233;
$secundary-color: #eeeeee;
//Colores derivados
$negro:#000018;
$negroSuave:#333333;
$gris:#777777;
$grisSuave:#aaaaaa;
$azulOscuro:#120e7c;
$azulMedio:#6b89e0;