@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #222233;
    color: white;
}

a {
    color: white;
}

.menu ul {
    list-style: none;
    display: flex;
    /* margin-right: 20px; */
}

.menu ul li ul li {
    display: none;
}

.menu ul li a:hover {
    color: black;
}

.contenido {
    margin: 20px;
    border-bottom: 1px solid;
}

.main-container {
    display: flex;
}

main {
    display: flex;
    max-width: 100%;
    width: 100%;
    background-color: #eeeeee;
}

.menu-entradas {
    padding: 10px;
    display: flex;
    margin: 10px;
    width: 100%;
    border: 2px solid;
    margin-top: 8.4vh;
    text-align: center;
    background-color: #222233;
    color: #eeeeee;
}

.menu-destacados {
    display: flex;
    margin: 10px;
    width: 100%;
    border: 2px solid;
    margin-top: 8.4vh;
}

.tabla-contenidos {
    text-align: center;
    padding: 10px
}

.menu-temas {
    /* display: flex; */
    max-width: 100%;
    flex-wrap: wrap;
}

.menu-temas>ul {
    list-style: none;
}

.menu-temas>ul>li:hover {
    color: aqua;
}

.menu-temas>h3 {
    width: 100%;
}

p {
    /* padding-bottom: 10px; */
    margin: 10px;
    font-family: 'Roboto Mono', monospace;
}

.titulo-contenido {
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 3px solid;
}

.page-header {
    text-align: center;
    font-size: 32px;
}

.imagen {
    display: flex;
    justify-content: space-between;
}

.permisos-fpt {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid;
    background-color: #222233;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px;
    color: #eeeeee;
}

.tipos-usuarios {
    border: 2px solid;
    margin-bottom: 20px;
    background-color: #222233;
    padding: 10px;
    color: #eeeeee;
}

.tipos-ficheros {
    border: 2px solid;
    background-color: #222233;
    padding: 10px;
    margin-bottom: 20px;
    color: #eeeeee;
}

.modos-conexion {
    border: 2px solid;
    background-color: #222233;
    padding: 10px;
    margin-bottom: 20px;
    color: #eeeeee;
}

.errores-ftp {
    border: 2px solid;
    background-color: #eeeeee;
    padding: 10px;
    margin-bottom: 20px;
    color: #222233;
    margin-bottom: 20px;
}

.directivas-ftp {
    border: 2px solid;
    background-color: antiquewhite;
    padding: 10px;
    margin-bottom: 20px;
    margin-bottom: 20px;
}

.permisos-fpt>div {
    width: 50%;
    /* text-align: center; */
    /* padding: 10px; */
}

.permisos-fpt>h4 {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #222233;
    padding: 20px;
}