* {
    box-sizing: border-box;
}

body {
    width: 850px;
    background-color: #f0f0f0;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    margin: 0 auto;
    padding: 0.5rem;
}

header {
    background-color: #216a93;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

#logo .material-icons {
    font-size: 3rem;
    color: #E9ECF2;
}

header h1 {
    font-size: 1.8rem;
    font-family: "Open Sans", sans-serif;
    color: #E9ECF2;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    font-family: "Bitter", serif;
    color: #E9ECF2;
    text-decoration: none;
    padding: 0.2rem;
}

#menuMovil {
    display: none;
}

main {
    border: 0.2px solid rgba(150, 150, 150, 0.8);
    background-color: white;
    padding: 1rem;
}

#ciudad h2 {
    font-size: 3rem;
    font-family: "Courier New", Courier, monospace;
    color: #141414;
}

#informacion {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

#tiempo {
    display: flex;
    flex: 2;
    align-items: center;
}

#tiempo img {
    height: 6rem;
    margin: auto 0px;
}

#tiempo p {
    font-family: "Courier New", Courier, monospace;
    font-size: 3rem;
    margin-left: 1rem;
    color: #141414;
}

#info {
    flex: 2;
}

#info p {
    font-size: 1.3rem;
    line-height: 0.5rem;
}

#desgloseTiempo {
    display: flex;
    justify-content: space-between;
}

.dias {
    flex: 1;
    padding: 1rem;
}

.dias .convesiones {
    display: flex;
    justify-content: space-around;
}

.dias img {
    margin: auto 0px;
}

.dias p {
    font-family: "Courier New", Courier, monospace;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    color: #141414;
}

#farhenint p,
#celsius p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 1rem;
    font-weight: 100;
}

#polen p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 1rem;
    font-weight: 100;
    color: #141414;
}

footer {
    background-color: #216a93;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

footer section p {
    font-family: "Bitter", serif;
    color: #E9ECF2;
    font-size: 1rem;
    text-align: center;
}

@media (max-width: 360px) {
    body {
        width: 100%;
        padding: 0.2rem;
    }
    #logo .material-icons {
        font-size: 1.5rem;
    }
    header h1 {
        font-size: 1rem;
        margin-left: 5%;
    }
    nav ul {
        display: none;
    }
    #menuMovil {
        display: block;
        color: #E9ECF2;
    }
    main {
        border: 0px;
        width: 100%;
        border-radius: 0px;
        background-color: #f0f0f0;
        padding: 0.5rem;
        margin: 0.5rem;
    }
    #ciudad h2 {
        font-size: 2.5rem;
    }
    #tiempo {
        align-items: center;
        margin-right: 1rem;
    }
    #informacion #tiempo img {
        height: 4rem;
    }
    #informacion #tiempo p {
        font-size: 1.5rem;
    }
    #informacion #info p {
        font-size: 0.8rem;
        line-height: 0.3rem;
    }
    #desgloseTiempo {
        display: flex;
        flex-direction: column;
    }
    .dias {
        display: flex;
        justify-content: space-between;
        border-top: 0.2px solid rgba(150, 150, 150, 0.8);
        align-items: center;
    }
    .dias p {
        width: 25%;
        text-align: left;
    }
    .dias .convesiones {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    #farhenint p {
        margin-bottom: 0.1rem;
    }
    footer {
        flex-direction: column;
    }
    footer section p {
        font-size: 0.8rem;
        text-align: center;
    }
}

@media (min-width: 360px) and (max-width: 600px) {
    body {
        width: 100%;
        padding: 0.2rem;
    }
    #logo .material-icons {
        font-size: 2rem;
    }
    header h1 {
        font-size: 1.5rem;
        margin-left: 5%;
    }
    nav ul {
        display: flex;
        justify-content: space-between;
    }
    #menuMovil {
        display: none;
    }
    main {
        border: 0px;
        width: 100%;
        border-radius: 0px;
        background-color: #f0f0f0;
        padding: 0.5rem;
        margin: 0.5rem;
    }
    #ciudad h2 {
        font-size: 3rem;
    }
    #tiempo {
        align-items: center;
        margin-right: 1rem;
    }
    #informacion #tiempo img {
        height: 5rem;
    }
    #informacion #tiempo p {
        font-size: 2rem;
    }
    #informacion #info p {
        font-size: 0.9rem;
        line-height: 0.3rem;
    }
    #desgloseTiempo {
        display: flex;
        flex-direction: column;
    }
    .dias {
        display: flex;
        justify-content: space-between;
        border-top: 0.2px solid rgba(150, 150, 150, 0.8);
        align-items: center;
    }
    .dias p {
        width: 25%;
        text-align: left;
    }
    .dias .convesiones {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    #farhenint p {
        margin-right: 1rem;
    }
    footer {
        flex-direction: row;
    }
}


/*# sourceMappingURL=style.css.map */